<section>
  <div>
    <%= image_tag @collection.url %>
    <%= link_to 'Edit Collection', edit_collection_path %>
    <%= link_to 'Delete Collection', collection_path, method: :delete %>
  </div>
  <div>
    <h2><%= @collection.name %></h1>
    <p>By: <%= @collection.full_name %>
    <p><%= @collection.description %></p>
  </div>
  <div>
    <p>Ratings</p></p>
    <section>
      <div>
        <p>Leave a rating</p>
        <%= render 'rating' %>
      </div>
      <div>
        <h2><%= @collection.average_rating %></h2>
        <p>From: <%= @collection.total_reviews %> Ratings</p>
      </div>
    </section>

  </div>
</section>

